@import "tailwindcss";

form {
  @apply flex flex-col items-center gap-5 p-10 bg-[var(--dark-blue)] mt-10 rounded-2xl w-[80%];
  @apply border-2 border-[var(--light-blue)]/20;
}

form span {
  @apply text-[var(--light-blue)] text-center;
}

form span a {
  @apply underline cursor-pointer;
}

label {
  @apply font-bold text-[var(--light-green)];
}

input {
  border: 1px solid rgba(147, 197, 253, 0.3);
  color: var(--light-green);
  background: transparent;
  padding-left: 5px;
  @apply py-1;
}

input:focus {
  outline: 0;
  border-color: var(--light-blue);
}

button {
  @apply rounded-full bg-[var(--purpel)] py-3 px-5 cursor-pointer text-white;
}

.error-message {
  color: var(--error);
  @apply mt-[10px] mb-[10px];
}

.btn-loading {
  @apply inline-flex items-center gap-2;
  color: inherit;
}
