@import "tailwindcss";

@font-face {
  font-family: "Roboto Mono";
  src:
    url("/fonts/RobotoMono-VariableFont_wght.ttf") format("truetype"),
    url("/fonts/RobotoMono-Italic-VariableFont_wght.ttf") format("truetype");
}

:root {
  --light-green: #a5b4fc;
  --dark-green: #0f172a;
  --light-blue: #93c5fd;
  --dark-blue: #1e293b;
  --purpel: #4f46e5;
  --purpel-hover: #6366f1;
  --teal: #82aeb1;
  --error: #f87171;
  --cancel-hover: #131f3a;
  --spinner-border-light: rgba(255, 255, 255, 0.15);
  --spinner-border-dark: rgba(0, 0, 0, 0.3);

  font-size: 16px;
  color: var(--light-green);
  font-family: "Roboto Mono";
}

body {
  background-color: var(--dark-green);
  @apply h-screen w-screen;
}

#root {
  @apply flex flex-col justify-center items-center;
}

header {
  @apply w-full py-5 bg-[var(--dark-blue)] flex justify-evenly border-b-2 border-[var(--light-blue)]/20;
}

header > a {
  @apply flex justify-center items-center text-white text-center bg-[var(--purpel)] py-3 px-4 rounded-full cursor-pointer;
}

.main-container {
  @apply w-full h-full flex justify-center pt-10;
}
